@model IEnumerable<RentEasy.Models.Booking>

@{
    ViewData["Title"] = "RenterDashboard";
}
<h2>Your Dashboard</h2>
<a class="btn btn-success mb-3" href="@Url.Action("Create", "Renter")">Add New Items</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var renter in Model)
        {
            <tr>
                <td>@renter.StartDate.ToString("g")</td>
                <td>@renter.EndDate.ToString("g")</td>
                <td>@renter.TotalAmount</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", "Renter", new { id = renter.BookingID })">Edit</a>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@renter.BookingID" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
